nav {
    position: relative;
    height: 60px;
    overflow: hidden;
    color: antiquewhite;
}



.navbar {
    border: 3px solid #000000;
    color: antiquewhite;
    border-radius: 5px;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 60px;
    gap: 20px;
}

.navbar video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;

}

/* .nav-item {
    font-weight: bold;
    cursor: pointer;
    justify-content: center;
    gap: 20px;
} */

.nav-item-left {
    color: white;
    margin-left: 50px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 800;
    font-size: 20px;
    align-items: left;
}

.nav-spacer {
    flex: 1 1 auto;
}

.nav-item-centre {
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;

}

.nav-item-right-1 {
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    align-items: right;
}

.nav-item-right {
    color: white;
    margin-right: 50px;
    margin-top: auto;
    margin-bottom: auto;
    align-items: right;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    height: calc(100vh - 60px);
    /* Adjust height to fit below navbar */
}

.left-panel {
    border: 3px solid #6b1717;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    width: 50%;
    height: 100%;
    border-radius: 5px;
    margin: 0 10px 0 10px;
    position: relative;
    overflow: hidden;
}

.left-panel video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.track-info {
    position: absolute;
    border-radius: 5px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    width: 30%;
}


.centre-panel {
    border: 3px solid #176b32;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 25%;
    height: 100%;
    border-radius: 5px;
    margin: 0 10px 0 10px;
}



.right-panel {
    position: relative;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    overflow: hidden;
    border-radius: 5px;
    border: 3px solid #21176b;
}

.right-panel video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.chats {
    overflow-y: auto;
    z-index: 1;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 5px;
    max-height: 80%;
    /* Ensure it doesn't overflow panel */
}

.chat-heading {
    z-index: 1;
    color: black;
    font-size: 24px;
    margin-bottom: 15px;
    /* justify-content: center; */
    text-align: center;
}

.chats {
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 15px;
    border-radius: 8px;
    height: 80%;
    width: 85%;
    align-items: center;
    justify-items: center;
    overflow-y: auto;
    margin: auto;
    /* transform: translateX(-10%); */
}